
.mnbm-window {
	border-radius: 3px;
	background: rgba(255,255,255,0.2);
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	padding: 8px;
	padding-bottom: 16px;
	transform: translate(-50%, -50%);

	.mnbm-bg {
		filter: blur(3px);
		z-index: -1;
		position: fixed;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		background: gray;
		
		opacity: 0.3;
		background-blend-mode: multiply;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	.mnbm-content {
		height: 100%;
		overflow: hidden;

		button {
			border-radius: 3px;
			border-style: none;
			padding: 3px;
			background-color: rgba(255,255,255,0.8);

			&:active {
				transform: scale(90%);
			}
		}

		p {
			padding: 3px;
			//font-size:12px;
		}

		input {
			padding: 3px;
			margin-right: 8px;
			width: 100%;
			height: 100%;
			border-radius: 3px;
			color: black;
		}

		.mnbm-header {
			display: flex;
			position: relative;
			padding: 2px;
			background: rgba(255,255,255,0.1);
			border-radius: 3px;

			.mnbm-control-panel {
				width: auto;
				overflow-x: scroll;
				display: flex;
				margin-right: 8px;
				//background: rgba(255,255,255,0.5);
				z-index: 1;
				
				> button {
					margin-right:8px;
				}

				.mnbm-toggle {
					background: rgba(20,200,20,0.6);
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-save {
					background: rgba(20,20,200,0.6);
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-load {
					background: rgba(200,100,20,0.6);
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-file {
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-back {
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}



				.mnbm-check-files {
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-regex-visible {
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}

				.mnbm-regex-add {
					text-align: center;
					padding-left: 8px;
					padding-right: 8px;
				}
			}

			.mnbm-drag {
				position: absolute;
				display: inline-block;
				width: 100%;
				height: 100%;
				//z-index: -1;
				//background: rgba(255,255,255,0.1);
				border-radius: 3px;
				//padding: 2px;

				&:active {
					//background: rgba(255,255,255,0.2);
				}
			}

			.mnbm-close {
				background: rgba(200,20,20,0.502);
				text-align: center;
				padding-left: 8px;
				padding-right: 8px;
				margin-left: auto;
				z-index: 1;
			}
		}

		.mnbm-body {
			height: 100%;
			padding-top:4px;

			.mnbm-container {
				height: 100%;
				overflow-y: scroll;

				.mnbm-list {
					padding-bottom: 32px;
					margin-top: 0px;
					list-style: none;
					//height:100%;
					padding-left: 0px;



					.mnbm-folder {
						color: black;
						border: 1px solid black;
						
						//margin-left: 2%;
						background:rgba(255, 255, 200, 0.1);
						padding-left: 2%;
						//font-size:16px;
						padding-right: 1px;
						padding-top: 0px;
						border-radius: 3px;
						margin-bottom: 2px;

					}

					.mnbm-file, .mnbm-item {
					//padding-top:0px;
					//heigth:50%
						border-radius: 3px;
						background: rgba(255,255,255,0.4);
						padding: 2px;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 2px;
						//position:relative;
						//background:red;
						//padding-left: 50%;

						.mnbm-prefix {
						margin-top: 0px;
						margin-bottom: 0px;
							//margin-left: 8px;
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
							color: black;
							text-align: center;
						}

						.mnbm-erase {
						margin-top: 0px;
							background: rgba(200,20,20,0.502);
							text-align: center;
							padding-left: 8px;
							padding-right: 8px;
							border-top-left-radius: 0px;
							border-bottom-left-radius: 0px;
							margin-left: auto;
						}

						.mnbm-text {
						margin-top: 0px;
						margin-bottom: 0px;
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
							width:100%;
							color: black;
							background: rgba(255,255,255,0.4);
							overflow-x: scroll;
							display: inline-block;
							text-wrap: nowrap;
						}
					}
				}
			}
		}
	}
}

.mnbm-notification {
	position: fixed;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 2px;
	border-radius: 3px;
	color: black;
	background: rgba(255,255,255,0.6);

	animation: off 1s ease-in;

	@keyframes off {
		0% {
			top: 80%;
			opacity: 1;
		}
		100% {
			top: 90%;
			opacity: 0;
		}
	}
}

.mnbm-gutter {
	background: rgba(35,72,234,0.271);
}