
.mnbm-window {
  background: gray;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  padding: 8px;
  transform: translate(-50%, -50%);

  .mnbm-content {
    height: 100%;
    overflow: hidden;
    
    button {
      padding: 2px;
      
      &:active {
      	transform: scale(90%);
      }
    }

    p {
      padding: 2px;
    }

    .mnbm-top {
      display: flex;

      .mnbm-left {
        overflow-x: scroll;
        display: flex;
        
        > button {
          margin-right:8px;
        }
      }

      .mnbm-close {
        margin-left: auto;
      }
    }
    
    .mnbm-body {
      height: 100%;
      padding-top:4px;

      .mnbm-container {
        height: 100%;
        overflow-y: scroll;
        
        .mnbm-list {
        	padding-bottom: 24px;
          margin-top: 0px;
          list-style: none;

          .mnbm-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mnbm-prefix {
              color: black;
            }

            .mnbm-erase {
              margin-left: auto;
            }

            .mnbm-text {
              width:100%;
              color: black;
              background: #cccccc;
              overflow-x: scroll;
              display: inline-block;
              text-wrap: nowrap;
            }
          }
        }
      }
    }
  }
}

.mnbm-overlay {
	
}

.mnbm-notification {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  animation: off 1s ease-in;
  
  @keyframes off {
  	0% {
  		top: 80%;
  		color: #ffffff;
  		background: #000000;
  	}
  	100% {
  		top: 90%;
  		color: #ffffff00;
  		background: #00000000;
  	}
  }
}

.mnbm-gutter {
	background: #2348ea45;
}